DEBUG=True #изменить
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost

#вписать рандом данные
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=user
DB_PASSWORD=782316
DB_HOST=localhost
DB_PORT=2378
